{{- $event := . -}}
<li>
    {{- if $event.image -}}
    <div class="flex flex-col gap-4 sm:flex-row sm:items-start sm:gap-5">
        <div class="w-full shrink-0 sm:w-64 md:w-72">
            <a class="block" href="{{ $event.url }}" target="_blank" title="{{ $event.title }}">
                <img class="w-full border border-gray-300"
                    src="{{ $event.image | relURL }}"
                    alt="{{ $event.title }}" />
            </a>
        </div>
        <div class="min-w-0 flex-1">
            <a class="event-title text-base"
                href="{{ $event.url }}" target="_blank" title="{{ $event.title }}">{{ $event.title }}</a><br />
            <span class="meta">{{ $event.date }}</span><br />
            <span class="rich-text">{{ $event.description | safeHTML }}</span>
            {{- if $event.youtube -}}
            <br>
            <a class="link"
                href="{{ $event.youtube }}" target="_blank">Watch on YouTube</a>.
            {{- end -}}
            {{- if $event.links -}}
            <br>
            {{ partial "social-links.html" $event.links }}
            {{- end -}}
        </div>
    </div>
    {{- else -}}
    <a class="event-title text-base"
        href="{{ $event.url }}" target="_blank" title="{{ $event.title }}">{{ $event.title }}</a><br />
    <span class="meta">{{ $event.date }}</span><br />
    <span class="rich-text">{{ $event.description | safeHTML }}</span>
    {{- if $event.youtube -}}
    <br>
    <a class="link"
        href="{{ $event.youtube }}" target="_blank">Watch on YouTube</a>.
    {{- end -}}
    {{- if $event.links -}}
    <br>
    {{ partial "social-links.html" $event.links }}
    {{- end -}}
    {{- end -}}
</li>
